{% extends "events/base.html" %}
{% block title %} Donate {% endblock %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <style>
        .w3-container {
            font-size: 14px;
        }

        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

    <div class="center">
        <div class="w3-card-4">
            <header class="w3-container w3-blue">
                <h1>DONATE</h1>
            </header>
            <div id="paypal-button-container"></div>
            <p id="result-message"></p>
            
            <script
                src="https://www.paypal.com/sdk/js?client-id=AQuewqHBLhFtlfzcgKVlK09BLB80DBA0ZSGiFsglxzQXb930eICmDI005gBbIPS5vPxu5CSm67Vnvc_B&currency=USD"></script>
            <script>
                //hear paypal

            </script>

            <div class="w3-container">
                <p></p>
            </div>

            <footer class="w3-container w3-blue">
            </footer>
        </div>
    </div>
</body>
{% endblock %}
